<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.001</key>
    <string>C_.001.glif</string>
    <key>C.002</key>
    <string>C_.002.glif</string>
    <key>C.003</key>
    <string>C_.003.glif</string>
    <key>E.001</key>
    <string>E_.001.glif</string>
    <key>E.002</key>
    <string>E_.002.glif</string>
    <key>E.003</key>
    <string>E_.003.glif</string>
    <key>E.alt2</key>
    <string>E_.alt2.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.001</key>
    <string>I_.001.glif</string>
    <key>I.002</key>
    <string>I_.002.glif</string>
    <key>I.003</key>
    <string>I_.003.glif</string>
    <key>K.001</key>
    <string>K_.001.glif</string>
    <key>K.002</key>
    <string>K_.002.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.001</key>
    <string>O_.001.glif</string>
    <key>O.002</key>
    <string>O_.002.glif</string>
    <key>O.003</key>
    <string>O_.003.glif</string>
    <key>O.004</key>
    <string>O_.004.glif</string>
    <key>Q.001</key>
    <string>Q_.001.glif</string>
    <key>Q.002</key>
    <string>Q_.002.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.001</key>
    <string>U_.001.glif</string>
    <key>U.002</key>
    <string>U_.002.glif</string>
    <key>U.003</key>
    <string>U_.003.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.001</key>
    <string>W_.001.glif</string>
    <key>eight.001</key>
    <string>eight.001.glif</string>
    <key>eight.002</key>
    <string>eight.002.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.001</key>
    <string>six.001.glif</string>
    <key>six.002</key>
    <string>six.002.glif</string>
    <key>two.001</key>
    <string>two.001.glif</string>
    <key>two.002</key>
    <string>two.002.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.001</key>
    <string>zero.001.glif</string>
    <key>zero.002</key>
    <string>zero.002.glif</string>
    <key>zero.003</key>
    <string>zero.003.glif</string>
  </dict>
</plist>
