<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>Q</key>
    <integer>-14</integer>
    <key>quotesingle</key>
    <integer>-20</integer>
  </dict>
  <key>A.001</key>
  <dict>
    <key>V</key>
    <integer>-139</integer>
    <key>W</key>
    <integer>-86</integer>
  </dict>
  <key>A.002</key>
  <dict>
    <key>V</key>
    <integer>-92</integer>
  </dict>
  <key>A.003</key>
  <dict>
    <key>V</key>
    <integer>-28</integer>
    <key>W.001</key>
    <integer>-73</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>A</key>
    <integer>-14</integer>
    <key>T</key>
    <integer>-24</integer>
    <key>V</key>
    <integer>-48</integer>
    <key>W</key>
    <integer>-24</integer>
    <key>Z</key>
    <integer>-19</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>G</key>
    <integer>-14</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>V</key>
    <integer>-14</integer>
    <key>Y</key>
    <integer>-14</integer>
    <key>comma</key>
    <integer>-11</integer>
    <key>period</key>
    <integer>-20</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>C</key>
    <integer>-29</integer>
    <key>T</key>
    <integer>-19</integer>
    <key>Y</key>
    <integer>-19</integer>
    <key>colon</key>
    <integer>-29</integer>
    <key>comma</key>
    <integer>-11</integer>
    <key>period</key>
    <integer>-20</integer>
    <key>semicolon</key>
    <integer>-34</integer>
  </dict>
  <key>I</key>
  <dict>
    <key>I</key>
    <integer>-29</integer>
    <key>R</key>
    <integer>-14</integer>
    <key>V</key>
    <integer>-29</integer>
    <key>W</key>
    <integer>-19</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>C</key>
    <integer>-30</integer>
    <key>U</key>
    <integer>-29</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>D</key>
    <integer>-14</integer>
    <key>G</key>
    <integer>-14</integer>
    <key>R</key>
    <integer>-24</integer>
    <key>T</key>
    <integer>-38</integer>
    <key>V</key>
    <integer>-24</integer>
    <key>W</key>
    <integer>-38</integer>
    <key>quotesingle</key>
    <integer>-30</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>Y</key>
    <integer>-14</integer>
    <key>comma</key>
    <integer>-95</integer>
    <key>period</key>
    <integer>-111</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>G</key>
    <integer>-14</integer>
    <key>T</key>
    <integer>-24</integer>
    <key>V</key>
    <integer>-24</integer>
    <key>W</key>
    <integer>-24</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>C</key>
    <integer>-19</integer>
    <key>S</key>
    <integer>-48</integer>
    <key>U</key>
    <integer>-14</integer>
    <key>Y</key>
    <integer>-19</integer>
    <key>colon</key>
    <integer>-72</integer>
    <key>comma</key>
    <integer>-95</integer>
    <key>period</key>
    <integer>-111</integer>
    <key>semicolon</key>
    <integer>-77</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A.001</key>
    <integer>-103</integer>
    <key>A.002</key>
    <integer>-103</integer>
    <key>A.003</key>
    <integer>-122</integer>
    <key>C</key>
    <integer>-53</integer>
    <key>S</key>
    <integer>-82</integer>
    <key>T</key>
    <integer>-29</integer>
    <key>Y</key>
    <integer>-19</integer>
    <key>colon</key>
    <integer>-87</integer>
    <key>comma</key>
    <integer>-95</integer>
    <key>period</key>
    <integer>-111</integer>
    <key>semicolon</key>
    <integer>-92</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>A.001</key>
    <integer>-90</integer>
    <key>C</key>
    <integer>-24</integer>
    <key>S</key>
    <integer>-48</integer>
    <key>Y</key>
    <integer>-19</integer>
    <key>colon</key>
    <integer>-48</integer>
    <key>comma</key>
    <integer>-66</integer>
    <key>period</key>
    <integer>-80</integer>
    <key>semicolon</key>
    <integer>-53</integer>
  </dict>
  <key>W.001</key>
  <dict>
    <key>A.003</key>
    <integer>-110</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>C</key>
    <integer>-24</integer>
    <key>S</key>
    <integer>-48</integer>
    <key>colon</key>
    <integer>-43</integer>
    <key>comma</key>
    <integer>-111</integer>
    <key>period</key>
    <integer>-124</integer>
    <key>semicolon</key>
    <integer>-48</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>T</key>
    <integer>-30</integer>
    <key>V</key>
    <integer>-80</integer>
    <key>W</key>
    <integer>-53</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>T</key>
    <integer>-63</integer>
    <key>V</key>
    <integer>-82</integer>
  </dict>
</dict>
</plist>
