<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.001</key>
    <string>B_.001.glif</string>
    <key>B.002</key>
    <string>B_.002.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.001</key>
    <string>H_.001.glif</string>
    <key>H.002</key>
    <string>H_.002.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.001</key>
    <string>N_.001.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.001</key>
    <string>T_.001.glif</string>
    <key>T.002</key>
    <string>T_.002.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.001</key>
    <string>Z_.001.glif</string>
    <key>Z.002</key>
    <string>Z_.002.glif</string>
    <key>Z.003</key>
    <string>Z_.003.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.001</key>
    <string>five.001.glif</string>
    <key>five.002</key>
    <string>five.002.glif</string>
    <key>five.003</key>
    <string>five.003.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.001</key>
    <string>n.001.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.001</key>
    <string>t.001.glif</string>
  </dict>
</plist>
