<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>GSOffsetCapStyle</key>
      <integer>2</integer>
      <key>GSOffsetHorizontal</key>
      <real>8.0</real>
      <key>GSOffsetMakeStroke</key>
      <true/>
      <key>GSOffsetProportional</key>
      <true/>
      <key>GSOffsetVertical</key>
      <real>10.0</real>
    </dict>
  </dict>
</plist>
