<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.alt</key>
    <string>e.alt.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
