<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>zero</string>
      <string>zero.001</string>
      <string>zero.002</string>
      <string>zero.003</string>
      <string>six</string>
      <string>six.001</string>
      <string>six.002</string>
      <string>C</string>
      <string>C.001</string>
      <string>C.002</string>
      <string>C.003</string>
      <string>I</string>
      <string>I.001</string>
      <string>I.002</string>
      <string>I.003</string>
      <string>O</string>
      <string>O.001</string>
      <string>O.002</string>
      <string>O.003</string>
      <string>O.004</string>
      <string>U</string>
      <string>U.001</string>
      <string>U.002</string>
      <string>U.003</string>
      <string>two.002</string>
      <string>two.001</string>
      <string>eight.002</string>
      <string>eight.001</string>
      <string>Q.002</string>
      <string>Q.001</string>
      <string>W</string>
      <string>W.001</string>
      <string>K.002</string>
      <string>K.001</string>
      <string>E.003</string>
      <string>E.alt2</string>
      <string>E.001</string>
      <string>E.002</string>
    </array>
  </dict>
</plist>
